@font-face {
    font-family: 'IRANSans';
    src: local('IRANSans'),url(../Fonts/FontsFree-Net-ir_sans.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IRANSans';
    direction: rtl;
}

.global-header {
    width: 100%;
    box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.075);
    position: relative;
    top: 0;
    background: #FFF;
    z-index: 999;
}

.header-row {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.global-logo img {
    width: 200px;
}

.nav-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

ul {
    font-size: 13px;
    line-height: 21px;
}

li {
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 22px;
    position: relative;
}

.nav-menu ul li:first-child {
    margin-right: 5px;
}