@font-face {
    font-family: 'IRANSans';
    src: local('IRANSans'),url(../Fonts/FontsFree-Net-ir_sans.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IRANSans';
    direction: rtl;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.global-header {
    width: 100%;
    box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.075);
    position: relative;
    top: 0;
    background: #FFF;
    z-index: 999;
    caret-color: transparent;
    transition: transform 0.5s ease-in-out;
}

.header-row {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.global-logo img {
    width: 200px;
}

.nav-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

ul {
    font-size: 13px;
    line-height: 21px;
}

li {
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 22px;
    position: relative;
    cursor: pointer;
}

li>a {
    text-decoration: none;
    color: #252222;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav-menu ul li:first-child {
    margin-right: 5px;
}

.header-button {
    position: absolute;
    left: 0;
    font-size: 14px;
    background: #FFB606;
    padding: 10px;
    color: #FFF;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.header-button span {
    margin-right: 10px;
}

.highlight {
    display: block;
    position: absolute;
    z-index: 1001;
    background: #FFB606;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s;
}

.sub-nav {
    background: #F7F7F7;
    border-radius: 5px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 16px;
    top: 100%;
    width: 628px;
    display: flex;
    display: none;
}

.sub-nav-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.sub-nav .left {
    margin-right: 4px;
}

.sub-nav .right {
    margin-left: 4px;
}

.sub-nav-box {
    background: #FFF;
    border-radius: 3px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    margin: 4px auto;
    min-height: 100px;
    padding: 24px 14px 24px 96px;
    position: relative;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

.sub-nav-box .icon-container {
    height: 64px;
    width: 64px;
    background: #252225;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 14px;
}

.icon {
    color: #FFF;
    font-size: 24px;
    z-index: 1002;
}

.sub-nav-box h4 {
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 16px;
    margin: 0 0 0.5rem;
    color: #292D34;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-nav-box p {
    color: #292D34;
    line-height: 16px;
}

.sub-nav::after {
    content: '';
    bottom: 100%;
    right: 105px;
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(252, 252, 252, 0);
    border-bottom-color: #F7F7F7;
    border-width: 20px;
    border-radius: 2px;
}

#icon-01 {
    background: #7E3EF3;
}

#icon-02 {
    background: #FE4242;
}

#icon-03 {
    background: #2EE1F9;
}

#icon-04 {
    background: #2EF968;
}

.fa-angle-down {
    margin-right: 5px;
    font-size: 14px;
}

/* ----- popup ----- */

.popup {
    max-width: 500px;
    width: clamp(80vw , 400px , 500px);
    height: 500px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.15);
    opacity: 0;
    display: none;
    transition: all linear 0.3s;
    z-index: 1100;
    border-radius: 5px;
    caret-color: transparent;
}

.popup.active {
    display: block;
    opacity: 1;
}

.popup .header {
    background: #F7F7F7;
    border: 1px solid #F0F0F0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup .header .fa-times {
    font-size: 25px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
    background: rgba(108, 117, 125, 0.6);
    transform: translate(0 , 0);
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.popup .form {
    padding: 30px 40px;
}

.popup .form .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.popup .form .form-control input {
    border: 2px solid #F0F0F0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    direction: ltr;
    padding-left: 33px;
    margin-top: 3px;
}

.popup .form .form-control.success input {
    border-color: #2ECC71;
}
.popup .form .form-control.error input {
    border-color: #E74C3C;
    direction: rtl;
}

.popup .form .form-control i {
    position: absolute;
    top: 42px;
    left: 10px;
    visibility: hidden;
}

.popup .form .form-control.success i.fa-check-circle {
    color: #2ECC71;
    visibility: visible;
}
.popup .form .form-control.error i.fa-exclamation-circle {
    color: #E74C3C;
    visibility: visible;
}

.popup .form .form-control small {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.popup .form .form-control.error small {
    visibility: visible;
    color: #E74C3C;    
}

.popup .form .form-control button {
    background: #FFB606;
    color: #FFF;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    display: block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* menu icon */

.menu-icon {
    position: absolute;
    left: 0;
    display: none;
}

.menu-icon .fa-times {
    display: none;
    font-size: 36px;
}

.menu-icon i {
    font-size: 36px;
    cursor: pointer;
}
/* mobile nav menu */
#nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 2rem;
    background: #242529;
    width: 300px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

#nav.active {
    transform: translateX(0);
}

#nav ul {
    width: 100%;
    color: #FFF;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#nav ul li {
    margin-right: 0;
}

#nav ul li:not(:first-child) {
    width: 100%;
    font-size: 18px;
}

#nav ul li a {
    color: #FFF;
}

.search-field {
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    color: #6C757D;
    font-size: 20px;
    outline: none;
}

.search-form {
    position: relative;
}

.search-form .search-submit {
    left: 0;
    right: auto;
}

.search-form .search-submit {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent;
    border: none;
    outline: 0;
}

.search-form .search-submit {
    color: #6C757D;
    font-size: 16px;
}

.off-canvas-cart {
    padding: 12px 20px 24px;
}

.off-canvas-cart .cart-icon-link {
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
}

.off-canvas-cart .cart-icon-link .bag-icon svg {
    width: 53px;
    height: 53px;
    fill: #FFF;
}

.off-canvas-cart .cart-icon-link .studiare-cart-number {
    background: #1E83F0;
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
    border-radius: 3px;
    margin-top: -20px;
    margin-left: 8px;
    text-align: center;
    position: absolute;
}

.menu-item-has-children {
    display: flex;
    justify-content: space-between;
}

.menu-item-has-children.active {
    display: block;
}

.menu-item-has-children ul {
    padding-right: 1em;
    padding-left: 0;
    border-right: 1px solid #333940;
    border-left: none;
    display: none !important;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.menu-item-has-children i {
    font-size: 24px;
}

.menu-item-has-children ul.active {
    display: block !important;
    opacity: 1;
}

.menu-item-has-children ul li {
    padding: 5px;
    font-size: 13px !important;
}

.container {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.container #main-pic {
    width: 100%;
}

/* top bar */
.top-bar {
    position: relative;
    top: 0;
    width: 100%;
    background: #000;
    transition: transform 0.5s ease-in-out;
    color: rgba(255, 255, 255, 0.6);
}

.top-bar-row {
    display: flex;
    height: 40px;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
    position: relative;
    direction: ltr;
}

.top-bar-items , .top-bar-items-mobile {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
}

.top-bar-items-mobile {
    display: none;
}

.top-bar-items ul {
    direction: ltr;
}

.top-bar-items ul li:not(:first-child) , .top-bar-items-mobile ul li {
    text-align: center;
    line-height: 80px;
    display: inline-block;
}

.top-bar-items ul li i{
    color: rgba(255, 255, 255, 0.6);
}

.top-bar-items ul li span {
    position: absolute;
    left: 14px;
    bottom: 26px;
    color: rgba(255, 255, 255, 0.6);
}

.top-bar-items-mobile ul li span {
    position: absolute;
    left: 14px;
    bottom: 26px;
    color: rgba(255, 255, 255, 0.6);
}

.container .row {
    width: 90%;
    margin: auto;
}

.container .row p {
    text-align: justify;
}

@media screen and (max-width:960px) {
    .nav-menu {
        display: none;
    }
    .header-button {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .top-bar-items {
        display: none;
    }
    .top-bar-items-mobile {
        display: block;
    }
}