@font-face {
    font-family: 'IRANSans';
    src: local('IRANSans'),url(../Fonts/FontsFree-Net-ir_sans.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IRANSans';
    direction: rtl;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.global-header {
    width: 100%;
    box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.075);
    position: relative;
    top: 0;
    background: #FFF;
    z-index: 999;
}

.header-row {
    display: flex;
    height: 80px;
    align-items: center;
    padding: 0;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}

.global-logo img {
    width: 200px;
}

.nav-menu {
    display: inline-block;
    vertical-align: top;
    margin-top: 22px;
    margin-left: 50px;
}

ul {
    font-size: 13px;
    line-height: 21px;
}

li {
    display: inline-block;
    margin-right: 28px;
    padding-bottom: 22px;
    position: relative;
    cursor: pointer;
}

li>a {
    text-decoration: none;
    color: #252222;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.nav-menu ul li:first-child {
    margin-right: 5px;
}

.header-button {
    position: absolute;
    left: 0;
    font-size: 14px;
    background: #FFB606;
    padding: 10px;
    color: #FFF;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0.0125rem 0.25rem rgba(0, 0, 0, 0.075);
    cursor: pointer;
}

.header-button span {
    margin-right: 10px;
}

.highlight {
    display: block;
    position: absolute;
    z-index: 1001;
    background: #FFB606;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.3s;
}

.sub-nav {
    background: #F7F7F7;
    border-radius: 5px;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 16px;
    top: 100%;
    width: 628px;
    display: flex;
    display: none;
}

.sub-nav-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 50%;
}

.sub-nav .left {
    margin-right: 4px;
}

.sub-nav .right {
    margin-left: 4px;
}

.sub-nav-box {
    background: #FFF;
    border-radius: 3px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    margin: 4px auto;
    min-height: 100px;
    padding: 24px 14px 24px 96px;
    position: relative;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
}

.sub-nav-box .icon-container {
    height: 64px;
    width: 64px;
    background: #252225;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 14px;
}

.icon {
    color: #FFF;
    font-size: 24px;
    z-index: 1002;
}

.sub-nav-box h4 {
    font-size: 16px;
    letter-spacing: 0.9px;
    line-height: 16px;
    margin: 0 0 0.5rem;
    color: #292D34;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-nav-box p {
    color: #292D34;
    line-height: 16px;
}

.sub-nav::after {
    content: '';
    bottom: 100%;
    right: 105px;
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(252, 252, 252, 0);
    border-bottom-color: #F7F7F7;
    border-width: 20px;
    border-radius: 2px;
}

#icon-01 {
    background: #7E3EF3;
}

#icon-02 {
    background: #FE4242;
}

#icon-03 {
    background: #2EE1F9;
}

#icon-04 {
    background: #2EF968;
}

.fa-angle-down {
    margin-right: 5px;
    font-size: 14px;
}

/* ----- popup ----- */

.popup {
    width: 500px;
    height: 500px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.15);
    opacity: 0;
    display: none;
    transition: all linear 0.3s;
    z-index: 1100;
    border-radius: 5px;
}

.popup.active {
    display: block;
    opacity: 1;
}

.popup .header {
    background: #F7F7F7;
    border: 1px solid #F0F0F0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup .header .fa-times {
    font-size: 25px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    pointer-events: auto;
    background: rgba(108, 117, 125, 0.6);
    transform: translate(0 , 0);
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}